node_modules
dist
build
coverage
*.min.js
*.min.css
*.map
.vscode
.idea
*.log
.env
.env.local
.env.*.local
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.woff
*.woff2
*.ttf
*.eot
public
.DS_Store
package-lock.json
yarn.lock
pnpm-lock.yaml
*.lock